@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    
        <h2>Phone</h2>
					
    <p>
        <span style="font-size:18px;font-style:oblique;">Main:</span>
        <span>112.223.0101</span>
    </p>
    <p>
        <span style="font-size:18px;font-style:oblique;">After Hours:</span>
        <span>33.444.555</span>
    </p>
</section>

<section class="contact">
    
        <h2>Email</h2>
    
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:bitf11a045@pucit.edu.pk">bitf11a045@pucit.edu.pk</a></span>
    </p>
    <p>
        
        <span class="label">Marketing:</span>
        <span><a href="mailto:bitf11a045@pucit.edu.pk">bitf11a045@pucit.edu.pk</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:bitf11a045@pucit.edu.pk">bitf11a045@pucit.edu.pk</a></span>
       </p>
</section>

<section class="contact">
    
        <h2>Address</h2>
    
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>




