@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>My Gallery</h2>
<table style="background-color:white;" >
    @for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>
                <img src="../../Images/file.png">
            </td>
            <td>File+@i</td>
            <td> <a href="../../Files/MyFirstProg.cpp"> Download </a></td>
            
            <td><a href="#">Delete</a></td>
        </tr> 
    }
</table>