@{
    ViewBag.Title = "Home Page";
}
@section featured {
   <div id="me">
       <h2>CodeDesk</h2>
       <p>
           CodeDesk is a side which provide you the facility tho manage your code online. 
           You can save you important codes on our side. We will provide you the facilities with total security.
           <br/><br/>
           you can upload upto 1GB data totaly free on our webside. Sop get registered now and start uploading.  

       </p>
      
       
   </div>
}
 <h2>Sharing</h2>
       <p>
           You can make your codes public so others can easily 
        </p>
           <ul> 
           <li>search your codes</li>
            <li>download your codes</li>
            <li>Add to their glaary</li>
     </ul>
       